.body{
    padding: 0%;
}
.header{
    grid-template-columns: auto; 
    text-align: center;
    background-color: blueviolet;
    margin: 0%;
    padding: 20px;
}
.nav {   
  margin: 0%;
  background-color: black;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px; /* Added gap for spacing between items */
}

.nav li a {
  color: white;
  text-decoration: none;
  margin: 0%;
}

.nav li a:hover {
  color: lightgray; /* Optional hover effect */
}
.box1{
    border: 1px solid black;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 10px;
}
.box2{ 
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 50px;
}
#footer {
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid black;

} 
.galary{
  display: ;
}

